 <section class="py-3 " id="myservice">
        <div class="aboutborder " data-aos="flip-down" data-aos-duration="2000">
            <p style="text-align: center; font-size: 30px;color:  #242DD1;font-weight: bold;">My Services</p>
            <p style="color: aliceblue;">I’m a skilled Full-Stack Developer specializing in building responsive websites
                and dynamic web applications. I offer end-to-end solutions, including front-end design, back-end
                development, database management, and API integration to deliver fast, secure, and user-friendly
                digital experiences.</p>
            <div class="container">
                <div class="row g-4">
                    <div class="col-12 col-md-6 col-lg-4 d-flex">
                        <div class="aboutcard w-100">
                            <p class="mycardtitle">Web development</p>
                            <br>
                            <p class="cardtext">Professional web development delivering fast, secure, responsive
                                websites with modern design and scalable features to elevate your business online.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex">
                        <div class="aboutcard w-100">
                            <p class="mycardtitle">Ui/Ux Design</p>
                            <br>
                            <p class="cardtext">
                                I design intuitive, accessible UI/UX experiences that blend creativity and usability for
                                engaging web and mobile digital interactions.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex">
                        <div class="aboutcard w-100">
                            <p class="mycardtitle">System Logic & Data Handling</p>
                            <br>
                            <p class="cardtext">
                                I build efficient system logic and manage data accurately, delivering scalable, secure
                                solutions that optimize processes and enhance application performance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>