    <section class="py-3" id="myproject">
        <div class="container">
            <div class="row g-4 " data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                data-aos-duration="2500">
                <div class="col-12 col-md-6 col-lg-4 d-flex">
                    <div class="aboutcard w-100 text-center">
                        <img src="assets/images/studentManagemnt.png" style="width: 350px;" class="img-fluid">
                        <p>My Student management Project</p>
                        <a href="https://github.com/RasikaMadushanka"> <input type="button" value="Mycode"
                                class="mybtn"></a>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex">
                    <div class="aboutcard w-100 text-cente">
                        <img src="assets/images/imart.png" style="width: 350px;" class="img-fluid">
                        <p>My Imart Project</p>
                        <a href="https://github.com/RasikaMadushanka"> <input type="button" value="Mycode"
                                class="mybtn"></a>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex">
                    <div class="aboutcard w-100 text-cente">
                        <img src="assets/images/defence.png" style="width: 350px;" class="img-fluid">
                        <p>My Defence System Project</p>
                        <a href="https://github.com/RasikaMadushanka"> <input type="button" value="Mycode"
                                class="mybtn"></a>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 d-flex">
                    <div class="aboutcard w-100 text-cente">
                        <img src="assets/images/movieapi.png" style="width: 350px;" class="img-fluid">
                        <p>My Movieapi Website</p>
                        <a href="https://github.com/RasikaMadushanka"> <input type="button" value="Mycode"
                                class="mybtn"></a>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex">
                    <div class="aboutcard w-100 text-cente">
                        <img src="assets/images/tourists.png" style="width: 350px;" class="img-fluid">
                        <p>My Tourists Website </p>
                        <a href="https://github.com/RasikaMadushanka"> <input type="button" value="Mycode"
                                class="mybtn"></a>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex">
                    <div class="aboutcard w-100 text-cente">
                        <img src="assets/images/weather.png" style="width: 350px;display:inline-block;"
                            class="img-fluid">
                        <p>My Weather Website</p>
                        <a href="https://github.com/RasikaMadushanka"> <input type="button" value="Mycode"
                                class="mybtn"></a>

                    </div>
                </div>

            </div>


    </div>
    </section>