<footer class="footer-section mt-5">
  <div class="container">

    <div class="row g-4">

      <!-- About -->
      <div class="col-md-4">
        <h5>About Me</h5>
        <p>
          Full Stack Developer passionate about building modern web applications
          and creative digital experiences.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="footer-links">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/project">Projects</a></li>
          <li><a routerLink="/service">Services</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>

      <!-- Social -->
      <div class="col-md-4">
        <h5>Connect With Me</h5>
        <div class="footer-icons">
          <a href="https://www.facebook.com/share/17LczNfp8h/" target="_blank">
            <img src="https://img.icons8.com/?size=100&id=kQzCK4emnaD2&format=png&color=ffffff" width="35">
          </a>
          <a href="https://www.instagram.com/madushanka3357" target="_blank">
            <img src="https://img.icons8.com/?size=100&id=BrU2BBoRXiWq&format=png&color=ffffff" width="35">
          </a>
          <a href="https://wa.me/qr/WBXCPNYAZIXCD1" target="_blank">
            <img src="https://img.icons8.com/?size=100&id=16713&format=png&color=ffffff" width="35">
          </a>
          <a href="https://www.linkedin.com/in/rasika-madushanka-9b62b5279" target="_blank">
            <img src="https://img.icons8.com/?size=100&id=xuvGCOXi8Wyg&format=png&color=ffffff" width="35">
          </a>
        </div>
      </div>

    </div>

    <!-- Copyright -->
    <div class="text-center mt-4">
      <p class="footer-text">
        © 2025 Rasika Madushanka | All Rights Reserved
      </p>
    </div>

  </div>
</footer>