.footer {
  background-color: #010018;
  border-top: 2px solid rgba(36, 45, 209, 0.6);
  box-shadow: 0 -4px 12px rgba(36, 45, 209, 0.3);
  padding: 20px 0;
  margin-top: 50px;
}

.footer-text {
  color: #dcdcdc;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icons img {
  transition: transform 0.3s ease-in, filter 0.3s ease-in;
}

.footer-icons img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px #242DD1);
}
