    <footer class="footer mt-5">
        <div class="container text-center">
            <p class="footer-text">© 2025 Rasika Madushanka | All Rights Reserved</p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/share/17LczNfp8h/"><img
                        src="https://img.icons8.com/?size=100&id=kQzCK4emnaD2&format=png&color=ffffff" width="35"></a>
                <a href="https://www.instagram.com/madushanka3357?utm_source=qr&igsh=MXBtZWx2bW1yaXgxcA=="><img
                        src="https://img.icons8.com/?size=100&id=BrU2BBoRXiWq&format=png&color=ffffff" width="35"></a>
                <a href="https://wa.me/qr/WBXCPNYAZIXCD1"><img
                        src="https://img.icons8.com/?size=100&id=16713&format=png&color=ffffff" width="35"></a>
                <a
                    href="https://www.linkedin.com/in/rasika-madushanka-9b62b5279?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img
                        src="https://img.icons8.com/?size=100&id=xuvGCOXi8Wyg&format=png&color=ffffff" width="35"></a>
            </div>
        </div>
    </footer>
