<!-- <app-nav-bar></app-nav-bar> -->
    <!-- ---add image-------and pargrph this are responsive-->
    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="d-flex flex-column flex-md-row align-items-center">
                        <img src="assets/images/my2.png" class="myimage py-5 py-3 me-md-5" data-aos="flip-up"
                            data-aos-duration="1500">
                        <p> <span style="color: rgb(36, 45, 209); font-weight: bold;font-size: 40px;"
                                data-aos="fade-right" data-aos-duration="2000">Hello i'm </span><br><span
                                style="color: aliceblue; font-size: 28px;" data-aos="fade-right"
                                data-aos-duration="2500">Rasika Madushanka </span><br><br><span
                                style="color: aliceblue; font-size: 15px;" data-aos="fade-right"
                                data-aos-duration="3000">I'm a creative and detail-oriented UI/UX designer
                                passionate about crafting intuitive digital experiences. I specialize in user-centered
                                design,
                                blending aesthetics with functionality to create interfaces that are both beautiful and
                                easy to
                                use. From wireframes to final visuals, I focus on solving real user problems through
                                thoughtful
                                design and seamless interaction.</span></p>
                        <div class="row mt-3">
                            <div class="  mt-3 justify-content-center justify-content-md-start iconposition">
                                <a href="https://www.facebook.com/share/17LczNfp8h/"> <img
                                        src="https://img.icons8.com/?size=100&id=kQzCK4emnaD2&format=png&color=ffffff"
                                        width="50" class="icon"></a>
                                <a
                                    href="https://www.instagram.com/madushanka3357?utm_source=qr&igsh=MXBtZWx2bW1yaXgxcA=="><img
                                        src="https://img.icons8.com/?size=100&id=BrU2BBoRXiWq&format=png&color=ffffff"
                                        width="50" class="icon"></a>
                                <a href="https://wa.me/qr/WBXCPNYAZIXCD1"> <img
                                        src="https://img.icons8.com/?size=100&id=16713&format=png&color=ffffff"
                                        width="50" class="icon"></a>
                                <a
                                    href="https://www.linkedin.com/in/rasika-madushanka-9b62b5279?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                                    <img src="https://img.icons8.com/?size=100&id=xuvGCOXi8Wyg&format=png&color=000000"
                                        width="50" class="icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
