    <!-- about mee -->
    <section class="py-3 about" id="about">
        <div class="aboutborder " data-aos="flip-down" data-aos-duration="1000">
            <p style="text-align: center; font-size: 30px;color:  #242DD1;font-weight: bold;">About me</p>
            <div class="container">
                <div class="row g-4">
                    <div class="col-12 col-md-6 d-flex">
                        <div class="aboutcard w-100">
                            <p class="mycardtitle">Personal Info</p>
                            <br>
                            <p class="cardtext">Name: Rasika Madushanka <br>
                                Age:20 <br>
                                Contact No: +94 740409486 <br>
                                G-mail: madushankasadun778@gmail.com <br>
                                Location: Udawlawa
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex">
                        <div class="aboutcard w-100">
                            <p class="mycardtitle">Education</p>
                            <br>
                            <p class="cardtext">School: R/Emb/Udawalawa National School <br>
                                O/L Results:A3,B1,C5 <br>
                                Contact No: +94 740409486 <br>
                                A/L Stream: Maths stream<br>
                                Higher diploma:
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex">
                        <div class="aboutcard w-100">
                            <p class="mycardtitle">Skills</p>
                            <br>
                            <p class="cardtext">Java,Oop,File Handling <br>
                                Html/Css/Javascript <br>
                                Java Swing <br>
                                Ui/Ux design<br>
                                Debugging & Problem solving
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex">
                        <div class="aboutcard w-100">
                            <p class="mycardtitle">Sports</p>
                            <br>
                            <p class="cardtext">Volleyball <br>
                                Football <br>
                                Swiming <br>
                                Chess<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>